@model Article

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/ArticleTempalte.cshtml";
}
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/editor/themes/simple/simple.css")"/>
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/editor/plugins/code/prettify.css")"/>*@
    <script src="@Url.Content("~/Content/editor/kindeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/editor/lang/zh_CN.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/editor/plugins/code/prettify.js")" type="text/javascript"></script>*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/widgets/prettify/Desert.css")"/>
    <script src="@Url.Content("~/Content/widgets/prettify/prettify.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/widgets/toolbar/jquery.toolbars.css")"/>
    <script src="@Url.Content("~/Content/widgets/toolbar/jquery.toolbar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/widgets/raty/jquery.raty.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jsrender.js")"></script>

    <style type="text/css">
        pre {
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
        }
    </style>
    <script type="text/javascript">
        
        $(window).load(function () {
            $("pre").addClass("prettyprint linenums");
            prettyPrint();
        });

        $(function () {

            $('#urlQRCode').qrcode({
                text: "@Model.Title==" + window.location,
                width: "150",
                height: "150"
            });

            $('#articleAuthor').popover({
                trigger: 'hover'
            })

            $('#commentArea img').css({ width: 64, height: 64 }).addClass('img-circle img-polaroid');
            $('#relatedArticle img').css({ width: 64, height: 64 }).addClass('img-rounded img-polaroid');

            $('#comment').bind('click', function () {
                // 同步数据后可以直接取得textarea的value
                editor.sync();
                // 取得HTML内容
                html = editor.html();

                $.ajax({
                    type: 'POST',
                    global: false,
                    url: '@Url.Action("Comment", "ArticleComment", new { articleId = @Model.Id})',
                    data: $('#commentForm').serialize(),
                    beforeSend: function (request) {
                        $('#commentProgress').show();
                    },
                    dataType:'JSON',
                    success:function(data){
                        art.dialog({
                            title: '信息提示',
                            content:data.message
                        }).time(3000);
                        loadComment();
                    },
                    complete: function (request, status) {
                        $('#commentProgress').hide();
                    }
                });
            });
        });

        //var editor;
        //var options = {
        //    themeType: 'simple',
        //    items: [
        //        'undo', 'redo', '|', 'preview', 'code', 'cut', 'copy', 'paste', '|',
        //        'justifyleft', 'justifycenter', 'justifyright',
        //        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
        //        'superscript', 'clearhtml', 'quickformat', 'selectall', '/',
        //        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
        //        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|',
        //        'hr', 'about', 'fullscreen'
        //    ]
        //};
        //KindEditor.ready(function (K) {
        //    editor = K.create('textarea[name="commentContent"]', options);
        //});

    </script>

@section Login{
    <div class="pull-right">
        @if (ViewBag.Prev == -1)
        { 
            <a class="btn disabled"><i class="icon-arrow-left"></i> </a>
        }
        else
        { 
            <a class="btn" href="/article/read/@ViewBag.Prev"><i class="icon-arrow-left"></i> </a>
        }
        <a class="btn" href="/article/read/@Model.Id"><i class="icon-refresh"></i> </a>
        @if (ViewBag.Next == -1)
        { 
            <a class="btn disabled"><i class="icon-arrow-right"></i> </a>
        }
        else
        { 
            <a class="btn" href="/article/read/@ViewBag.Next"><i class="icon-arrow-right"></i> </a>
        }
    </div>
}


<div class="row-fluid">
    <div class="span10 offset1" style="padding:10px;">
        <h1>@Model.Title<small>----<cite id="articleAuthor" rel="popover" title="常伟华" data-content="@Model.Summary">常伟华</cite></small></h1>            <p><i class="icon-user"></i> 作者 <span class="label label-info">作者</span> &emsp;&emsp;&emsp; <i class="icon-book"></i> 分类  <span class="label label-info">@Model.ArticleCategoryId</span> &emsp;&emsp;&emsp; <i class="icon-tags"></i> 标签 @foreach (var item in Model.ArticleTag.Split(',')) { <span class="label label-info">@item</span> }   &emsp;&emsp;&emsp; <i class="icon-comment"></i> 评论 <span class="badge badge-info">10</span> &emsp;&emsp;&emsp; <i class="icon-star"></i> 评分 <span id="score" class="badge badge-info">@Model.Grade</span></p>
    </div>
</div>

<div class="row-fluid">
    <div class="span10 offset1">
        <div class="btn-toolbar pull-right">
            <div id="btnTool" class="btn-group">
                <button data-commandName="search" class="btn btn-inverse"><i class="icon-search"></i></button>
                <button data-commandName="comment" class="btn btn-inverse"><i class="icon-comment"></i></button>
                <button data-commandName="star" class="btn btn-inverse"><i class="icon-star"></i></button>
                <button data-commandName="share" class="btn btn-inverse"><i class="icon-share"></i></button>
                <button data-commandName="copy" class="btn btn-inverse"><i class="icon-edit"></i></button>
                <button data-commandName="related" class="btn btn-inverse"><i class="icon-tag"></i></button>
                <button data-commandName="up" class="btn btn-inverse"><i class="icon-thumbs-up"></i></button>
                <button data-commandName="zoomIn" class="btn btn-inverse"><i class="icon-zoom-in"></i></button>
                <button data-commandName="zoomOut" class="btn btn-inverse"><i class="icon-zoom-out"></i></button>
                <button data-commandName="fullScreen" data-msg="" class="btn btn-inverse"><i class="icon-resize-full"></i></button>
                <button data-commandName="print" class="btn btn-inverse"><i class="icon-print"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset1">
       @Html.Raw(Model.Content)
    </div>
</div>

<div class="row-fluid">
    <div class="span10 offset1">
        @*<blockquote class="pull-right">
            <p>掌握系统的思维创新方法，包括发散性思维和逻辑思维，应用左脑和右脑协调创新的技巧，提高企业战略创新</p>
            <small>Someone famous <cite title="Source Title">Source Title</cite></small>
        </blockquote>*@
        @{Html.RenderAction("FamousWord", new { controller = "GlobalAsync" });}
    </div>
</div> 
     
<div class="row-fluid">
    <div class="span10 offset1" style="text-align:center;">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/cn/88x31.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type"><a href="<?php echo $tb_url;?>">《@Model.Title》</a></span> 由 <a xmlns:cc="http://creativecommons.org/ns#" href="mailto:changweihua@outlook.com" property="cc:attributionName" rel="cc:attributionURL">常伟华</a> 创作。采用 <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享 署名-相同方式共享 3.0 中国大陆 许可协议</a>进行许可。
    </div>
</div>

<div class="row-fluid">
    <div class="span10 offset1">
        <ul class="pager">
            @if (ViewBag.Prev == -1)
            { 
                <li class="previous disabled">
                    <a href="#">&larr; 上一篇</a>
                </li>
            }
            else
            { 
                <li class="previous">
                    <a href="/article/read/@ViewBag.Prev">&larr; 上一篇</a>
                </li>
            }
            @if (ViewBag.Next == -1)
            { 
                <li class="next disabled">
                    <a href="#">&rarr; 下一篇</a>
                </li>
            }
            else
            { 
                <li class="next">
                    <a href="/article/read/@ViewBag.Next">下一篇 &rarr;</a>
                </li>
            }
        </ul>
    </div>
</div>

@*<div class="row-fluid">
    @{Html.RenderAction("RelatedArticle", new { controller = "Article" });}
</div>*@



<div class="row-fluid">
    <div id="commentDialog" class="span10 alert alert-info offset1">
    <hr />
    @Html.Action("Comment", "ArticleComment")
    </div>
</div>


@*<div class="row-fluid">
    <div id="commentArea" class="span10 offset1">
        @{Html.RenderAction("ListArticleComment", new { controller = "Comment" });}
    </div>
</div>*@

<div class="row-fluid">
    <div class="alert alert-info alert-block span10 offset1">
        <a  id="listComment" class="close"><i class="icon-refresh"></i></a>
        <h4 class="alert-heading"><i class="icon-comment"></i> 日志评论 -- <em>@Model.Title</em></h4>
        <hr />
        <div id="commentArea" class="span10 alert-body">
        
        </div>
    </div>         
</div>

<div class="row-fluid">
    <div class="alert alert-info alert-block span10 offset1">
        <a id="listRelatedArticle" class="close"><i class="icon-refresh"></i></a>
        <h4 class="alert-heading"><i class="icon-tag"></i> 相关日志 -- <em>@Model.ArticleTag</em></h4>
        <hr />
        <div id="relatedArticle" class="span10 alert-body">
        
        </div>
    </div>
</div>

@*<div id="leftBar" class="span2 well" style="position:fixed;right:15px;top:100px;z-index:9999;">
    <div id="urlQRCode"></div>
    <button class="btn btn-block btn-info"><i class="icon-info"></i> 文章信息</button>
    <a href="#commentDialog" class="btn btn-block btn-success"><i class="icon-comment"></i> 评论</a>
    <a href="#relatedArticle" class="btn btn-block btn-success"><i class="icon-share"></i> 相关日志</a>
</div>*@

<!--Templates-->
<script type="text/x-jsrender" id="relatedArticleTemplate">
    {{for articles}}
        <div class="media">
            <a class="pull-left" target="_blank" href="@Url.Action("Read", "Article")">
                <img style="width:64px;height:64px;" class="media-object img-rounded" src="@Url.Content("~/Content/thumb/8.jpeg")">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{:title}}</h4>
                <h4><em>{{:summary}}</em></h4>
            </div>
        </div>                        
    {{/for}}
</script>

<script type="text/x-jsrender" id="articleCommentTemplate">
    {{for comments}}
        <div class="media">
            <a class="pull-left" target="_blank" href="@Url.Action("Read", "Article")">
                <img class="media-object img-rounded" src="http://www.gravatar.com/avatar/{{:hash}}.png?s=100&d=monsterid&r=g" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">姓名：{{:name}}</h4>
                <h4><em>{{:content}}</em></h4>
            </div>
        </div>
        <hr />
    {{/for}}
</script>

<script type="text/javascript">
    $(function () {

        //$('#commentArea').load("@Url.Action("ListArticleComment", "ArticleComment", new { id = @Model.Id})");
        @*$('#relatedArticle').load("@Url.RouteUrl("RelatedArticletRoute", new { controller = "Article", action = "RelatedArticle", tag = "C#" })");*@

        //评分
        $('#star').raty({
            cancelOff: '@Url.Content("~/Content/widgets/raty/img/cancel-off.png")',                             // Icon used on active cancel.
            cancelOn: '@Url.Content("~/Content/widgets/raty/img/cancel-on-big.png")',
            starHalf: '@Url.Content("~/Content/widgets/raty/img/star-half-big.png")',                                // The name of the half star image.
            starOff: '@Url.Content("~/Content/widgets/raty/img/star-off-big.png")',                                // Name of the star image off.
            starOn: '@Url.Content("~/Content/widgets/raty/img/star-on-big.png")',
            size: 32,
            number: 5,
            click: function (score) {
                var $ra = $(this);
                $.ajax({
                    url: '@Url.Action("Star","ArticleComment")',
                    dataType: 'json',
                    type: 'POST',
                    data: { id: '@Model.Id', score: score },
                    success: function (data) {
                        $('#score').text(data.score);
                        art.dialog({
                            title: '信息提示',
                            content: data.message
                        }).time(2500);
                        $ra.raty('reload');
                    }
                });
                //$(this).raty('reload', { score: score, targetText: '上次评价的分数为' + score });
            },
            target: '#hint',
            targetType: 'number',
            targetFormat: '得分: {score}',
            noRatedMsg: '还没有评分哦',
            targetKeep: true,
            targetText: '还没有评分哦'
        });

        $('#btnTool button').on('click', function () {
            var commandName = $(this).attr('data-commandName') || "up";
            switch (commandName) {
                case "comment":
                    $("html, body").animate({
                        scrollTop: $('#commentDialog').parent().offset().top - 80 + "px"
                    }, 1000);
                    $('#commonArea ul li:eq(0) a').click();
                    break;
                case "star":
                    $("html, body").animate({
                        scrollTop: $('#commentDialog').parent().offset().top - 80 + "px"
                    }, 1000);
                    $('#commonArea ul li:eq(1) a').click();
                    break;
                case "share":
                    $("html, body").animate({
                        scrollTop: $('#commentDialog').parent().offset().top - 80 + "px"
                    }, 1000);
                    $('#commonArea ul li:eq(2) a').click();
                    break;
                case "search":
                    art.dialog({
                        id: 'search',
                        title: '搜索框',
                        content: '<label for="keyword">关键字</label><input id="keyword" type="text" class="input-large" name="keyword">',
                        zIndex: 7,
                        lock: true,
                        width: 300,
                        fixed: true,
                        ok: function () {
                            var keyword = $('#keyword').val();
                            var text = $('pre').text();
                            //alert(text);
                            if (text.indexOf(keyword) > -1) {
                                alert('搜索到' + keyword);
                            } else {
                                alert('没有搜索到');
                            }
                            return false;
                        },
                        okValue: '搜索',
                        cancel: function () { },
                        cancelValue: '关闭'
                    });
                    break;
                case "zoomIn":
                    //取得当前字体大小 后缀px,pt,pc
                    var currentFontSize = $("pre").css("font-size");
                    //取得当前字体大小，parseFloat()转为float类型去除后缀
                    var currentFontSizeNumber = parseFloat(currentFontSize);
                    //新定义的字体大小
                    var newFontSize = currentFontSizeNumber * 1.1;
                    //重写样式表
                    $("pre").css("font-size", newFontSize);
                    //JavaScript不向下执行
                    return false;
                    break;
                case "zoomOut":
                    //取得当前字体大小 后缀px,pt,pc
                    var currentFontSize = $("pre").css("font-size");
                    //取得当前字体大小，parseFloat()转为float类型去除后缀
                    var currentFontSizeNumber = parseFloat(currentFontSize);
                    //重新定义字体大小
                    var newFontSize = currentFontSizeNumber * 0.9;
                    //重写样式表
                    $("pre").css("font-size", newFontSize);
                    //JavaScript不向下执行
                    return false;
                    break;
                case "fullScreen":
                    var status = $(this).attr('data-msg');
                    if (status == 'full') {
                        $(this).attr('data-msg', '');
                        $(this).children('i').attr('class', 'icon-resize-full');
                        $("pre").parent().removeClass('span12').addClass('span10 offset1');
                    } else {
                        $(this).attr('data-msg', 'full');
                        $(this).children('i').attr('class', 'icon-resize-small');
                        $("pre").parent().removeClass('span10 offset1').addClass('span12');
                    }
                    break;
                case 'related':
                    //$('#relatedArticle').load("@Url.Action("RelatedArticle", "Article", new { id = "c#"})");
                    loadRelatedArticle();
                    //$('.media img').css({ width: 48, height: 48 });
                    $("html, body").animate({
                        scrollTop: $('#relatedArticle').parent().offset().top - 80 + "px"
                    }, 1000);
                    break;
                case "print":
                    art.dialog({
                        title: '信息提示',
                        content: '本人水平有限，暂时还不能使用哦'
                    }).shake();
                    break;
                default:

            }
        });

        $('#listRelatedArticle').on('click', function () {
            loadRelatedArticle();
        });

        $('#listComment').on('click', function () {
            loadComment();
        });

    });
    
    function loadComment() {
        //读取评论
        $.ajax({
            url: '@Url.Action("List", "ArticleComment", new { id=@Model.Id})',
            dataType: 'JSON',
            cache: false,
            success: function (data) {
                $("#commentArea").empty();
                var html = $("#articleCommentTemplate").render(data);
                //Insert into Container
                $("#commentArea").append(html);
            }
        });
    }

    function loadRelatedArticle() {
        $.ajax({
            url: '@Url.Action("Related", "Article", new { id = Model.ArticleTag})',
            dataType: 'JSON',
            cache: false,
            success: function (data) {
                $("#relatedArticle").empty();
                var html = $("#relatedArticleTemplate").render(data);
                //Insert into Container
                $("#relatedArticle").append(html);
            }
        });
    }


</script>

@section BottomLeftBar{
    
}
    
@section BottomRightBar{

}