@*<div class="alert alert-info alert-block">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading">Warning!</h4>
    Best check yo self, you're not...
</div>*@

<div class="row-fluid">
<div class="alert alert-info alert-block span12">
    <a class="close"><i class="icon-minus"></i></a>
    <h4 class="alert-heading"><i class="icon-user"></i> 个人简介</h4>
    <hr />
    <div class="span12 alert-body">
        <div class="span8">
            <table class="table">
                <tr><td>姓&emsp;&emsp;名：常伟华</td><td>性&emsp;&emsp;别：男</td></tr>
                <tr><td>出生日期：1991-02-09</td><td>籍&emsp;&emsp;贯：江苏 丹阳</td></tr>
                <tr><td>目前城市：重庆 永川</td><td>联系电话：15023215505</td></tr>
                <tr><td><a href="mailto:changweihua@outlook.com">电子邮件：changweihua@outlook.com</a></td><td><a href="http://www.cmono.net" target="_blank" >个人网站：http://www.cmono.net</a></td></tr>
            </table>
        </div>
        <div class="span3 offset1">
            <img style="width:120px;height:160px;"  class="img-polaroid" src="@Url.Content("~/Content/200913014060_2.jpg")" />
        </div>
    </div>
</div>
</div>

<div class="row-fluid">
<div class="alert alert-success alert-block span12">
    <a class="close"><i class="icon-minus"></i></a>
    <h4 class="alert-heading"><i class="icon-screenshot"></i> 应聘方向</h4>
    <hr />
    <div class="span12 alert-body">
        <dl class="dl-horizontal">
            <dt>求职行业</dt><dd>计算机软件、教育/培训</dd>
            <dt>应聘职位</dt><dd>互联网软件开发工程师、软件工程师、系统测试员</dd>
            <dt>求职地点</dt><dd>上海、南京、苏州、丹阳、常州、重庆</dd>
            <dt>薪资要求</dt><dd>面谈/月</dd>
        </dl>
    </div>
</div>
</div>

<div class="row-fluid">
<div class="alert alert-error alert-block span12">
    <a class="close"><i class="icon-minus"></i></a>
    <h4 class="alert-heading"><i class="icon-leaf"></i> 实践经历</h4>
    <hr />
    <div class="span12 alert-body">
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <h5>实习1</h5>
                    <p>实习地点：重庆文理学院现代教育技术中心</p>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <h5>博客系统开发计划</h5>
                    <p>缩略项标题介绍</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>

<div class="row-fluid">
<div class="alert alert-info alert-block span12">
    <a class="close"><i class="icon-minus"></i></a>
    <h4 class="alert-heading"><i class="icon-th-large"></i> 项目开发</h4>
    <hr />
    <div class="span12 alert-body" style="float:left;">
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <div class="caption">
                        <h5>个人博客系统</h5>
                        <p>
                            该项目是基于Visual Studio 2010 + SQL Server 2008 强大的开发功能以及.NET 三层架构下进行开发的B/S项目。使用多层架构，包含了UI，Model， Dao，BBL。UI层主要是用户界面，后台管理UI主要使用了ExtJS。Model类是用户交互实体对象，用于和用户完成交互。BBL类是业务逻辑处理类：主要完成业务逻辑的处理。Dao层完成对Model实体类的增、删、该、查等基本操作。
	                    </p>
                        <p><a href="#" class="btn btn-primary">系统截图</a> <a href="#" class="btn">浏览</a></p>
                    </div>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <div class="caption">
                        <h5>酒店管理系统</h5>
                        <p>
		                    .NET 三层架构下进行开发的C/S项目，通过业务逻辑层，数据访问层和实体类，进行数据的增删改查，UI层使用了Mid窗体等，支持数据的导入导出(Excel)格式。
	                    </p>
                        <p class="text-center"><a href="#" class="btn btn-primary">系统截图</a> <a href="#" class="btn">浏览</a></p>
                    </div>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <div class="caption">
                        <h5>简易的天气预报(Windows Phone 7)</h5>
                        <p>
		                    完成基本的天气预报功能，通过中国气象数据中心的Web Service，获取的天气数据以及城市代码，使用了自定义控件作为每日天气的模板，承载解析之后的JSON数据。用户可以保存自己想关注的城市。
	                    </p>
                        <p class="text-center"><a href="#" class="btn btn-primary">系统截图</a> <a href="#" class="btn">浏览</a></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>

<div class="row-fluid">
<div class="alert alert-success alert-block span12">
    <a class="close"><i class="icon-minus"></i></a>
    <h4 class="alert-heading"><i class="icon-book"></i> 教育培训</h4>
    <hr />
    <div class="span12 alert-body">
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <h5>重庆文理学院</h5>
                    <p>2009/09—至今</p>
                    <p>计算机科学与技术  电子信息科学类    本科</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <h5>北大青鸟</h5>
                    <p>2011/12—2012/12</p>
                    <p>缩略项标题介绍</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <h5>北大青鸟</h5>
                    <p>2010/12—2011/12</p>
                    <p>获得证书：程序员</p>
                </div>
            </li>
        </ul>
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/holder3.png")" alt="">
                    <h5>北大青鸟</h5>
                    <p>2009/12—2010/12</p>
                    <p>获得证书：初级程序员</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>

<div class="row-fluid">
<div class="alert alert-error alert-block span12">
    <a class="close"><i class="icon-minus"></i></a>
    <h4 class="alert-heading"><i class="icon-road"></i> 职业技能</h4>
    <hr />
    <div class="span12 alert-body">
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <h5>外语</h5>
                    <p>英语：良好</p>
                    <p>英语等级：大学英语考试六级</p>
                    <p>英语口语水平：良好</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h5>计算机</h5>
                    <p>C 6个月经验水平：一般</p>
                    <p>MSSQL SERVER 24个月经验水平：熟练</p>
                    <p>Java 12个月：一般</p>
                    <p>Visual C# 26个月经验水平：熟练</p>
                    <p>ASP.NET(C#) 26个月经验水平：熟练</p>
                    <p>XML 12个月经验水平：一般</p>
                    <p>UML 6个月经验水平：了解</p>
                    <p>ExtJS 6个月：一般</p>
                    <p>jQuery 24个月：熟练</p>
                    <p>Bootstrap 6个月：了解</p>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail">
                    <h5>证书</h5>
                    <p>大学英语6级证书获得时间：2011年</p>
                    <p>软件设计师(中级)证书获得时间：2012年</p>
                    <p>计算机程序设计工程师（.net）：2012 年</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>

<div class="row-fluid">
<div class="alert alert-info alert-block span12">
    <a class="close"><i class="icon-minus"></i></a>
    <h4 class="alert-heading"><i class="icon-heart"></i> 自我评价</h4>
    <hr />
    <div class="alert-body">
    <ul class="unstyled">
        <li><span class="badge badge-info">1</span>&emsp;&emsp;熟悉计算机软件C#.NET，ExtJS，HTML，CSS，JavaScript等多种开发语言并有C#.NET，ASP.NET，ASP.NET MVC，ExtJS的开发经验，对SQL Server数据库开发也有较好经验，能开发三层及多层架构，对Sqlite数据也有了解，能够将其与log4net配合使用，进行系统异常的记录。能够使用Elmah、RouteDebugger和Glimpse等进行系统的调试和调优。</li>
        <li><span class="badge badge-info">2</span>&emsp;&emsp;性格开朗乐观，真诚守信，擅长逻辑思维，有较好的领悟力，适应能力和团队合作精神，能够积极互动，努力达成团队的目标     </li>
        <li><span class="badge badge-info">3</span>&emsp;&emsp;有自己的网站，能够坚持记录所学的知识    </li>
        <li><span class="badge badge-info">4</span>&emsp;&emsp;勤奋好学，吃苦耐劳，能够准时完成上级交代的任务 </li>
        <li><span class="badge badge-info">5</span>&emsp;&emsp;业余时间专研技术，丰富自己的专业知识技能 </li>
        <li><span class="badge badge-info">6</span>&emsp;&emsp;适应能力强，能够在短时间内融入一个新的环境</li> 
    </ul>
    </div>
</div>
</div>

<script type="text/javascript">
    $(function () {
        //页面初始化的时候，默认从第二个开始全部关闭
        $('#infoArea div.alert-body:gt(0)').slideToggle('slow', function () {
            $(this).siblings('a').children('i').removeClass('icon-minus').addClass('icon-plus');
        });

        $('#infoArea a.close').on('click', function (e) {
            e.preventDefault();
            if ($(this).children('i').hasClass('icon-plus')) {
                $(this).children('i').removeClass('icon-plus').addClass('icon-minus');
            } else {
                $(this).children('i').removeClass('icon-minus').addClass('icon-plus');
            }
            $(this).siblings('div.alert-body').slideToggle('slow');
        });
    });
</script>