@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/admin/highcharts/highcharts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/admin/highcharts/exporting.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/admin/highcharts/highcharts-more.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/admin/highcharts/theme/skies.js")"></script>
    
}

<h2>Index</h2>
<hr />
<fieldset>
    <legend>文章统计</legend>
    @Html.Action("Article")
</fieldset>
<fieldset>
    <legend>相册统计</legend>
    @Html.Action("Album")
</fieldset>

@section LeftFooter{
    @*<a class="win-command" data-toggle="modal" href="@Url.Action("Index")">
        <span class="win-commandimage win-commandring">&#x0039;</span>
        <span class="win-label">相册列表</span>
    </a>
    <a class="win-command page" href="@Url.Action("Upload")">
        <span class="win-commandimage win-commandring">&#xe01f;</span>
        <span class="win-label">上传照片</span>
    </a>
    <a class="win-command" data-toggle="modal" href="@Url.Action("Download", new { id = 1})">
        <span class="win-commandimage win-commandring">&#xe01d;</span>
        <span class="win-label">下载相册</span>
    </a>
    <a class="win-command" data-toggle="modal" href="@Url.Action("Index")">
        <span class="win-commandimage win-commandring">&#xe18b;</span>
        <span class="win-label">随机预览</span>
    </a>*@
    @*<a class="win-command" data-toggle="modal" href="@Url.Action("Index")">
        <span class="win-commandimage win-commandring">&#xe19b;</span>
        <span class="win-label">排列方式</span>
    </a>
    <a class="win-command" data-toggle="modal" href="@Url.Action("Index")">
        <span class="win-commandimage win-commandring">&#xe017;</span>
        <span class="win-label">排列方式</span>
    </a>*@
}

@section RightFooter{
    @*<a class="win-command" data-toggle="modal" href="@Url.Action("Album", new { id = 1})">
        <span class="win-commandimage win-commandring">&#xe04d;</span>
        <span class="win-label">上个相册</span>
    </a>
    <a class="win-command" data-toggle="modal" href="@Url.Action("Album", new { id = 5})">
        <span class="win-commandimage win-commandring">&#xe049;</span>
        <span class="win-label">下个相册</span>
    </a>
    <a class="win-command" id="navLink" data-toggle="modal" href="@Url.Action("AlbumPage",  new { albumId = Model.Id, pageIndex = 2 })">
        <span class="win-commandimage win-commandring">&#xe0cf;</span>
        <span class="win-label">加载更多</span>
    </a>*@
}
