<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/thumb/html5.png")" alt="">
            <h5>HTML5&CSS3</h5>
            <p><a href="http://html5cn.org/" target="_blank">HTML5中国</a></p>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/thumb/blog.jpg")" alt="">
            <h5>博客系统开发计划</h5>
            <p>您所在的网站就是</p>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/thumb/github.jpeg")" alt="">
            <h5>ELINQ 源代码阅读计划</h5>
            <p><a href="https://github.com/netcasewqs/elinq" target="_blank">项目地址</a></p>
        </div>
    </li>
</ul>
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/thumb/windows_phone_8.jpeg")" alt="">
            <h5>Windows Phone 8</h5>
            <p>Windows Phone 8 开发</p>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/thumb/windows8.jpeg")" alt="">
            <h5>Windows 8 Rt & Pro</h5>
            <p>Windows 8 RT</p>
            <p>Windows 8 PRO</p>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <img src="@Url.Content("~/Content/thumb/aspnet.jpeg")" alt="">
            <h5>MVC4 Web API学习</h5>
            <p>MVC4 Web API</p>
        </div>
    </li>
</ul>